// app global css in SCSS form

//Survey page

#question {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 768px) {
    max-width: 100%;
    height: 100vh;
    margin-top: 10%;
  }

  @media screen and (max-height: 1000px) and (max-width: 500px){
    max-width: 100%;
    height: 100vh;
    margin-top: 5%;
    margin-bottom: 10%;
  }
  #question_header {
    margin-bottom: 20px;
    text-align: center;

    .circle-and-label {
      display: inline-block;
    }

    @media screen and (max-width: 970px) {
      margin-top: 5%;
      max-width: 80%;
      margin-bottom: 0px;
    }
  }

  .question_component {
    max-width: 60%;
    width: 100%;
    overflow-y: auto;
    max-height: 70vh;

    @media screen and (max-width: 970px) {
      max-width: 80%;
    }
    @media screen and (orientation: landscape) {
      //Make sure save button is reachable when turned
      margin-bottom: 7%;
    }
    @media screen and (orientation: horizontal) {
      //Make sure save button is reachable when turned
      margin-bottom: 0%;
    }
  }
}

#question_fooder {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);

  #navigation_buttons {
    display: flex;
    align-items: center;
  }

  #btn_prev,
  #btn_next {
    margin: 0 10px;
  }
}

#send_container {
  display: table;
  margin-top: 1%;
  margin-left: auto;
}

#question_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}


#question_header .circle-and-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Admin page
#new_question_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#new_question_input {
  width: 80%;
  margin-top: 20px;
}

#answer_lin {
  display: flex;
  align-items: center;
}

#answer_container {
  margin-bottom: 5px;
}

#submit_container {
  margin-top: 20px;
}

.label {
  font-weight: bold;
}

.q-btn {
  margin-top: 5px;
  margin-right: 5px;
}

.q-slide-enter-active, .q-slide-leave-active {
  transition: opacity 0.3s ease;
}
.q-slide-enter, .q-slide-leave-to {
  opacity: 0;
}
